extends layout

block content
    .container
        h3.intro New Team
        if error
            h5.red-text= error
        if message
            h5.blue-text= message
        .row
            form.col.s12(role='form', action="/teams/newTeam", method="post")
                .row
                    .input-field.col.s8.m7
                        input(type='text', id="team_name" name="name" required=true)
                        label(for="team_name") Team Name
                .row
                    .input-field.col.s8.m4
                        select#members(name="category" required)
                            option(value="1" disabled=true selected=true) Choose your option
                            option(value="2") 2
                            option(value="3") 3
                            option(value="4") 4
                            option(value="5") 5
                            option(value="5") 6
                        label How many members?
                .row
                    .input-field.col.s8.m7
                        input.grey-text#captain(disabled type="text" name="captain" value=user.inno_id required)
                        label.grey-text(for="captain") Captain INNO ID
                    #m2.input-field.col.s8.m7.hidden
                        input#mem2(type="text" name="mem2")
                        label(for="mem2") Member 2 INNO ID
                    #m3.input-field.col.s8.m7.hidden
                        input#mem3(type="text" name="mem3")
                        label(for="mem3") Member 3 INNO ID
                    #m4.input-field.col.s8.m7.hidden
                        input#mem4(type="text" name="mem4")
                        label(for="mem4") Member 4 INNO ID
                    #m5.input-field.col.s8.m7.hidden
                        input#mem5(type="text" name="mem5")
                        label(for="mem5") Member 5 INNO ID
                    #m6.input-field.col.s8.m7.hidden
                        input#mem6(type="text" name="mem6")
                        label(for="mem6") Member 6 INNO ID
                .row
                    .col.s12
                        //&nbsp; &nbsp;
                        button.btn.waves-effect.waves-light.blue.darken-4(type='submit', style="width: 200px;") Add
                            i.material-icons.prefix.right send
block scripts
    script.
        $(document).ready(function () {
            $('#members').change(addInputs);
        });
        function addInputs() {
            var m = $('#members').val();
            if (m >= 2) {
                $('#m2').removeClass('hidden').attr('required', true);
            }
            if (m >= 3) {
                $('#m3').removeClass('hidden').attr('required', true);
            }
            if (m >= '4') {
                $('#m4').removeClass('hidden').attr('required', true);
            }
            if (m >= '5') {
                $('#m5').removeClass('hidden').attr('required', true);
            }
            if (m >= '6') {
                $('#m6').removeClass('hidden').attr('required', true);
            }
            if (m < '6') {
                $('#m6').addClass('hidden').attr('required', false);
            }
            if (m < '5') {
                $('#m5').addClass('hidden').attr('required', false);
            }
            if (m < '4') {
                $('#m4').addClass('hidden').attr('required', false);
            }
            if (m < '3') {
                $('#m3').addClass('hidden').attr('required', false);
            }
            if (m < '2') {
                $('#m2').addClass('hidden').attr('required', false);
            }
        }

block style
    style
        include ../public/stylesheets/pages/about.css