extends layout

block content
    .container
        h1 Register
        br
        div.row
            if (edit)
                p Edit successful
            form.col.s12(role='form', action='/users/details', method='post')
                div.row
                        div.input-field.col.s6
                        input(value=user.firstName, id='firstName', name='firstName', type='text', class='validate')
                        label.active(for='firstName') First Name
                    div.input-field.col.s6
                        input(value=user.lastName, id='lastName', name='lastName', type='text', class='validate')
                        label.active(for='lastName') Last Name
                div.row
                    div.input-field.col.s6
                        input(value=user.email, id='email', name='email', type='email', class='validate')
                        label.active(for='email') Email
                if (user.provider == 'local')
                    div.row
                        div.input-field.col.s6
                            input(value=user.password, id='password', name='password', type='password', class='validate')
                            label.active(for='password') Password
                div.row
                    div.input-field.col.s6
                        input(value=user.phone_no, id='phone_no', name='phone_no',type='tel', class='validate')
                        label.active(for='phone_no') Phone Number
                div.row
                    button.btn.waves-light.waves-effect(type='submit') Save
