extends layout

block content
    //if event.photo
        .parallax-container#eventPhoto
            .parallax
                img(src=event.photo)
    .container
        a(href="/events/category/" + event.category)
            h3.center.zero.intro= event.category + ' Events'
        .card.row
            div.materialboxed
            .col.s10.offset-s1
                h3 #{event.name}
                    if (is_admin || is_em)
                        a(href="/events/" + event.linkName + "/edit")
                            i.material-icons.prefix mode_edit
                h6= msg
                p #{event.details}
                if event.fbLink
                    h6.intro
                        a(href=event.fbLink).black-text FB event page  &nbsp;
                            i#fb.material-icons send
                if(event.isTeamEvent)
                    h5 Team Event
                    p Max Participants: #{event.minParticipants}
                if !is_registered
                    if event.isTeamEvent
                        a.modal-trigger(href="#eventTeamModal")
                           button.btn.waves-effect.waves-light Register
                    else
                        form(role='form', action='/events/' + event.linkName + "/register", method='post')
                            button.btn.waves-effect(type="submit") Register
                else
                    h5 Registered for this Event
                //if is_admin || is_em
                //    h5
                //        a(href='/events/' + event.name + '/participants') Participants
                //    h5
                //        a(href='/events/' + event.name + '/winners/') Winners
                //if is_admin
                //    h5
                //        a(href='/events/' + event.name + '/managers') Managers
                br
                br
    #eventTeamModal.modal
        .modal-content.center
            h4 Select Team for Event
            .row
                form.col.s12.row(role='form', action="/events/" + event.linkName + "/register/", method="post")
                    each team, index in teams
                        p
                            input.with-gap(name="teamName" type="radio" id="opt"+index value=team.name)
                            label(for="opt"+index) #{team.name}
                    .row
                        button.btn.waves-effect.waves-light(type="submit" disabled=teams.length==0)
                            a(href="/teams/myTeams") Select Team
                            i.material-icons.prefix.right send
                    .row
                        button.btn.waves-light.waves-effect.row
                            a(href="/teams/newTeam") New Team

block style
    style
        include ../public/stylesheets/pages/robot.css
    style.
        .materialboxed {
            height:300px;
            background: url(#{event.photo}) no-repeat center;
            background-size: cover;
        }
        #fb {
            font-size: 12px;
        }
block scripts
    script.
        $(document).ready(function () {
            $('.materialboxed').materialbox().click(function() {
                if ($(this).css('background-size') == 'cover')
                    $(this).css('background-size', 'contain')
                else
                    $(this).css('background-size', 'cover')
            });
        });