extends layout

block content
    if event.photo
        .parallax-container#eventPhoto
            .parallax
                img(src=event.photo)
    .container
        h6= msg
        h3 #{event.name}
            if (is_admin || is_em)
                a(href="/events/" + event.linkName + "/edit")
                    i.material-icons.prefix mode_edit
        p #{event.details}
        if event.fbLink
            p
                a(href=event.fbLink) "FB event page"
        if(event.isTeamEvent)
            h5 Team Event
            p Max Participants: #{event.minParticipants}
        if is_registered
            p You are registered for this event

        if event.isTeamEvent
            button.btn.waves-effect.waves-light.blue.darken-4
                a.modal-trigger(href="#eventTeamModal") Register
        else
            form(role='form', action='/events/' + event.linkName + "/register", method='post')
                button.btn.waves-effect.blue.darken-4(type="submit") Register
        if is_admin || is_em
            h5
                a(href='/events/' + event.name + '/participants') Participants
            h5
                a(href='/events/' + event.name + '/winners/') Winners
        if is_admin
            h5
                a(href='/events/' + event.name + '/managers') Managers

    #eventTeamModal.modal
        .modal-content.center
            h4 Select Team for Event
            .row
                form.col.s12.row(role='form', action="/events/" + event.linkName + "/register/", method="post")
                    each team, index in teams
                        p
                            input.with-gap(name="teamName" type="radio" id="opt"+index value=team.name)
                            label(for="opt"+index) #{team.name}
                    button.btn.waves-effect.waves-light.blue.darken-4(type="submit")
                        a(href="/teams/myTeams") Select Team
                        i.material-icons.prefix.right send
                button.btn.waves-light.waves-effect.blue.darken-4.col.s2.offset-s5.row
                    a(href="/teams/newTeam") New Team

block scripts
    script.
        $(document).ready(function () {
            console.log('no error');
            $('.parallax').parallax();
            $('.modal-trigger').leanModal();
        });
//        $.ajax({
//            url: '/teams/api/myteams',
//            dataType: teams,
//            type: 'GET',
//            success: function (teams) {
//                /* do something with items here */
//                // You will likely want a template so you don't have to format the string by hand
//                for (var team in teams) {
//                    $('#results').append('<div>' + item.interestingField + '</div>');
//                }
//            }
//        });