extends layout

block meta
    title= 'Admin: Participants - Innovision, NSIT'

block content
    .container
        .row
            .col
                h5.intro Export to excel
                a(href="/events/"+event.linkName+"/participants.xls") Download
        .row
            .col
                h5.intro Teams participating in #{event.name}
                ul.collapsible(data-collapsible="expandable")
                    each team, index in teams
                        li(style="min-width:600px")
                            .collapsible-header
                                i.material-icons
                                | #{index+1}. #{team.name}
                            .collapsible-body.center
                                table.centered.responsive-table
                                    thead
                                        tr
                                            th(data-field='id') INNO ID
                                            th(data-field='name') Name
                                            th(data-field='college') College
                                            th(data-field='email') Email
                                            th(data-field='phone') Phone Number
                                            th(data-field='photo') Photo Upload 
                                    tbody
                                        each p in team.members
                                            tr
                                                td= p.inno_id
                                                td= p.firstName + ' ' + p.lastName
                                                td= p.college + ', ' + p.course
                                                td= p.email
                                                td= p.phone_no
                                                if p.photoId    
                                                    td &#10004
                                                else
                                                    td 
                                                        a(href="/users/photoUpload/" + p.inno_id) &#10060

block style
    style
        include ../public/stylesheets/pages/about.css