extends layout

block content
    .container
        .row
            .col
                h3.intro Teams participating in #{event.name}
                ul.collapsible(data-collapsible="expandable")
                    each team in teams
                        li(style="min-width:600px")
                            .collapsible-header
                                i.material-icons
                                | #{team.name}
                            .collapsible-body.center
                                table.centered.responsive-table
                                    thead
                                        tr
                                            th(data-field='id') INNO ID
                                            th(data-field='name') Name
                                            th(data-field='college') College
                                            th(data-field='email') Email
                                            th(data-field='phone') Phone Number
                                    tbody
                                        each p in team.members
                                            tr
                                                td= p.inno_id
                                                td= p.firstName + ' ' + p.lastName
                                                td= p.college + ', ' + p.course
                                                td= p.email
                                                td= p.phone_no

block style
    style
        include ../public/stylesheets/pages/about.css