doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
    head
        script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "EventReservation",
              "reservationNumber": #{user.inno_id},
              "reservationStatus": "http://schema.org/Confirmed",
              "underName": {
                "@type": "Person",
                "name": #{user.firstName} + ' ' #{user.lastName}
              },
              "reservationFor": {
                "@type": "Event",
                "name": "Innovision'16",
                "startDate": "2016-03-09T18:30:00+05:30",
                "endDate": "2016-03-12T22:00:00+05:30",
                "location": {
                  "@type": "Place",
                  "name": "NSIT",
                  "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "NSIT, Azad Hind Fauj Marg",
                    "addressLocality": "Sector-3, Dwarka",
                    "addressRegion": "New Delhi",
                    "postalCode": "110078",
                    "addressCountry": "IN"
                  }
                }
              }
            }
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Welcome Innovader!
        style(type='text/css').
            img {
                max-width: 100%;
            }
            body {
                -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em;
            }
            body {
                background-color: #f6f6f6;
            }
            @media only screen and (max-width: 640px) {
                body {
                    padding: 0 !important;
                }
                h1 {
                    font-weight: 800 !important; margin: 20px 0 5px !important;
                }
                h2 {
                    font-weight: 800 !important; margin: 20px 0 5px !important;
                }
                h3 {
                    font-weight: 800 !important; margin: 20px 0 5px !important;
                }
                h4 {
                    font-weight: 800 !important; margin: 20px 0 5px !important;
                }
                h1 {
                    font-size: 22px !important;
                }
                h2 {
                    font-size: 18px !important;
                }
                h3 {
                    font-size: 16px !important;
                }
                .container {
                    padding: 0 !important; width: 100% !important;
                }
                .content {
                    padding: 0 !important;
                }
                .content-wrap {
                    padding: 10px !important;
                }
                .invoice {
                    width: 100% !important;
                }
            }
    body(itemscope='', itemtype='http://schema.org/EmailMessage', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;", bgcolor='#f6f6f6')
        table.body-wrap(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;", bgcolor='#f6f6f6')
            tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                td(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;", valign='top')
                td.container(width='600', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;", valign='top')
                    .content(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;")
                        table.main(width='100%', cellpadding='0', cellspacing='0', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;", bgcolor='#fff')
                            tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                td.alert.alert-warning(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: #FF9F00; margin: 0; padding: 20px;", align='center', bgcolor='#FF9F00', valign='top')
                                    //HEADING
                                    | Your Inno ID : #{user.inno_id}
                            tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                td.content-wrap(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;", valign='top')
                                    table(width='100%', cellpadding='0', cellspacing='0', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                        tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                            td.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;", valign='top')
                                                //MAIL START
                                                | Greetings #{user.firstName},
                                        tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                            td.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;", valign='top')
                                                | You'll need to show your INNO ID, your valid college ID & the app downloads below to the security personnel at Innovision'16 for entry to the fest. Please keep them with you on the days of the fest, i.e. 9th to 12th March.

                                        tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                            td.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;", valign='top')
                                                | For entry into the college premises, the following apps need to be downloaded & physically verified at the entry gates:
                                                br
                                                strong 1. Loud Shout App
                                                br
                                                | Download link (Android):
                                                a(href="http://bit.ly/loudshoutNSIT") bit.ly/loudshoutNSIT
                                                br
                                                | Download link (iOS):
                                                a(href="http://bit.ly/loudhoutiNSIT") bit.ly/loudhoutiNSIT
                                                br
                                                strong Note: After registering on the Loudshout App, you have to choose "NSIT, Delhi" as your Basecamp.
                                                br
                                                br
                                                strong 2. Faagio
                                                br
                                                | Download link (Android):
                                                a(href="http://bit.ly/faagioNSIT") bit.ly/faagioNSIT
                                                br
                                                strong Note: After signing up on the Faagio App, you have to enter the referral code 'NSIT2016'.
                                                br
                                                | Important: Users of phones that do not support these apps would be required to show & verify this fact by displaying their phones at the entry gate.
                                                br
                                                | If you have any further queries please drop us a mail at pr.innovision.nsit@gmail.com


                                        tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                            td.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;", valign='top')
                                                | See you there
                                                br
                                                | Team Innovision


                        .footer(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;")
                            table(width='100%', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                    td.aligncenter.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;", align='center', valign='top')
                                        a(href='https://www.facebook.com/Innoitis', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;") Innovision,NSIT
                            table(width='100%', style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                tr(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;")
                                    td.aligncenter.content-block(style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;", align='center', valign='top')
                                        br
                                        |Netaji Subhash Institute Of Technology #[br]
                                        |(University Of Delhi) #[br]
                                        |Azad Hind Fauj Marg #[br]
                                        |Sector-3, Dwarka #[br]
                                        |New Delhi - 110078
